<!-- ===================================================== -->
<!-- Plantilla: nuevo_producto.html -->
<!-- Esta página utiliza Django Templates para mostrar datos. -->
<!-- ===================================================== -->
{% extends 'base.html' %}
<!-- Heredamos la estructura y los estilos definidos en base.html. -->

{% block title %}
Registrar producto
{% endblock %}

{% block contenido %}

<div class="contenedor">

    <h2>Registrar nuevo producto</h2>

    <form method="POST">
        {% csrf_token %} <!-- Protección CSRF para formularios enviados por POST. -->

        <!-- Django genera aquí los campos del formulario automáticamente. -->
        {{ formulario.as_p }}

        <div class="acciones">
            <button type="submit" class="boton">
                Guardar producto
            </button>

            <a href="{% url 'lista_productos' %}" class="boton boton-secundario">
                Regresar al listado
            </a>
        </div>
    </form>

</div>

{% endblock %}
